#h {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    text-align: center;
}

#menu {
    height: 120px;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

nav {
    width: 20%;
    min-height: 400px;
    background-color: #2b2b2b;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

section {
    width: 80%;
    min-height: 100px;
    background-color: #f2f2f2;
    padding: 30px;
    box-sizing: border-box;
}



footer {
    height: 60px;
    background-color: #111;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}